*.[ao]
*~
*m4
rem
m4/*
m4/Makefile.in
autom4te.*/*
*mapi*
Make*
make*
pinerc*
imap2
alpine
pico
rpdump
rpload
imapd
pop3d
pop2d
mailutil
ipopd
mlock
mtest
tmail
c-client
helptext*
help_*gen
*orig
*patch
*log
*status
OSTYPE
SPECIALS
.deps
libtool
po/
imap/an
dmail
imap/ip6
include/
libwpcom*
web/bin
wpcomm*
web/*/*/alpined
web/*/*/alpineldap
.gitignore
local.c
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/traces.0
autom4te.cache/traces.1
doit
