config.log
.deps
rem
web/bin
web/lib/
*~
*.o
*.a
*.orig
*.rej
date.c
an
alpine/alpine
alpine/rpdump
alpine/rpload
c-client
imap/OSTYPE
imap/SPECIALS
imap/c-client/
imap/dmail/
imap/imapd/
imap/ip6
imap/ipopd/
imap/mailutil/
imap/mlock/
imap/mtest/
imap/tmail/
pico/pico
pico/pilot
pith/help_c_gen
pith/help_h_gen
pith/helptext.c
pith/helptext.h
web/cgi/alpine/2.0/lib/yui-2.9.0/
web/src/alpined.d/.libs/
web/src/alpined.d/alpined
web/src/alpined.d/alpineldap
web/src/alpined.d/libwpcomm.la
web/src/alpined.d/local.c
web/src/alpined.d/wpcomm.lo
web/src/cgi.tcl-1.10/pkgIndex.tcl
Makefile
alpine/Makefile
alpine/osdep/Makefile
config.status
include/config.h
libtool
m4/Makefile
pico/Makefile
pico/osdep/Makefile
pith/Makefile
pith/charconv/Makefile
pith/osdep/Makefile
po/Makefile
po/Makefile.in
web/src/Makefile
web/src/alpined.d/Makefile
web/src/pubcookie/Makefile
